.img{
    width: 100%;
    border-radius: 30px;
}
.menuImg{
    width:100px;
}
.Bo{
    background-color: black;
}
.texto{
    background-color: rgb(255, 77, 142);
    font-style: normal;
    color: black;
}
.mat-card#encabezado{
    border-radius: 30px;
    border-color: black;
}
.container-fluid#ContenidoBloque{
    margin: 15px;
    padding: 30px;
    width: 98%;
}
.col-md-8#bloqueDos{
    padding-left:5%;
    padding-right: 2.5%;
}
.Bloque{
    background-color: #F6DDCC;
}
.Color{
    color: white;
}
